@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.magic {
    background-color: #f9ca24;
    color: white;
    font-family: "Poppins", sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 1rem;
    padding: .75rem 1.25rem;
    cursor: pointer;
    position: fixed;
    top: 1.25rem;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249,202,36, 0.5);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 31.25rem;
    width: 31.25rem;
    position: relative;
    transition: 0.4s ease;
}

.boxes.big {
    width: 37.5rem;
    height: 37.5rem;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url("https://media1.giphy.com/media/4wz743geRfNDO/giphy.gif?cid=ecf05e4746pjz623efgfl1fhvhz0qz7dc5f5rjhofu4lh0cj&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: 31.25rem 31.25rem;
    position: relative; /* so can use psuedo elements in absolute*/
    height: 7.8125rem;
    width: 7.8125rem;
    transition: 0.4s ease;
}

.box::after {
    content: "";
    background-color: #f6e58d;
    position: absolute;
    top: .5rem;
    right: -0.9375rem;
    height: 100%;
    width: 0.9375rem;
    transform: skewY(45deg);
}

.box::before {
    content: "";
    background-color: #f9ca24;
    position: absolute;
    bottom: -0.9375rem;
    left: .5rem;
    height: 0.9375rem;
    width: 100%;
    transform: skewX(45deg);
}