@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    position: absolute;
    top: 0.625rem;
}

.range-container {
    position: relative;
}

input[type="range"] {
    width: 18.75rem;
    margin: 1.125rem 0;
    /* to style the track you have to set it to not show */
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"] + label {
    background-color: white;
    position: absolute;
    top: -1.5625rem;
    left: 6.875rem;
    width: 5rem;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Chrome and Safari styling */
input[type="range"]::-webkit-slider-runnable-track {
    background: purple;
    border-radius: 4px;
    width: 100%;
    height: 0.625rem;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -0.4375rem;
    cursor: pointer;
}

/* Firefox styling */
input[type="range"]::-moz-range-track {
    background: purple;
    border-radius: 4px;
    width: 100%;
    height: 0.8rem;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -0.4375rem;
    cursor: pointer;
}

/* Microsoft IE styling */
input[type="range"]::-ms-track {
    background: purple;
    border-radius: 4px;
    width: 100%;
    height: 0.8rem;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -0.4375rem;
    cursor: pointer;
}