@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*font-family: 'Roboto', sans-serif;*/

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/********************************************CSS Reset - Kevin Powell*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  /* font-family: 'Roboto', sans-serif; */
  /* background-color: lightgray; */
  color: black;
  /* background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; */
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


/************************************************Home.js*/
.container {
  background-color: rgb(14, 1, 22);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container h1 {
  font-size: 3rem;
  margin: 2rem;
}

.container h2 {
  font-size: 1.6rem;
  margin: 0 2rem 2rem 2rem;
}

.home-a {
  /* text-decoration: none; */
  color: inherit;
  cursor: pointer;
}

.home-a:hover {
  color: teal;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-siteby {
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home-siteby a {
  color: white;
  /* text-decoration: none; */
}

.home-siteby a:hover {
  color: teal;
}

/******************************************ProjectCard.js*/
.card {
  background-color: rgb(97, 97, 97, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  max-width: 25rem;
  min-width: 15rem;
  box-shadow: 2px 2px 15px 0px rgba(0, 128, 128, 0.3);
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  margin: 1rem;
}

.card p {
  font-size: 1rem;
  margin: 1rem;
}

.card img {
  max-width: 90%;
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: 2px 2px 15px 0px rgba(0, 128, 128, 0.5);
}

.card img:hover {
  box-shadow: 0px 0px 15px 0px rgba(77, 1, 56, 0.9);
}

.card img:active {
  transform: scale(0.98);
}

/*********************************HomeButton.js*/
.home-btn {
  /*needs to be fixed or won't move when scroll*/
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.home-btn a {
  color: rgb(134, 13, 9);
}


@media(max-width: 600px) {
  html {
      font-size: 14px;
  }
}