@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

.psb-container {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

/* this div allows the scale up and overflow hidden to work - without this it won't work. cannot set on container has to be another div - stackoverflow https://stackoverflow.com/questions/5513382/absolute-position-and-overflowhidden */
.psb-test {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.psb-background {
    background: url("https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    overflow: hidden;
    z-index: -1;
}

.psb-checker-box {
    background-color: white;
    border-radius: 3px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.psb-checker-box h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.psb-checker-box p {
    margin-bottom: 1rem;
}

.psb-email {
    display: flex;
    flex-direction: column;
}

.psb-email label {
    text-align: start;
    margin: .5rem 0;
}

.psb-checker-box input {
    padding: 0.5rem;
    width: 100%;
    border:lightgray 1px solid;
    border-radius: 3px;
}

.psb-password {
    display: flex;
    flex-direction: column;
}

.psb-password label {
    text-align: start;
    margin: .5rem 0;
}

.psb-checker-button {
    background-color: black;
    width: 100%;
    color: white;
    padding: .5rem 0;
    margin-top: 2rem;
    display: inline-block;
    border-radius: 3px;
}