@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.rn-container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
}

.rn-container.show-nav {
    transform: rotate(-20deg);
}

.rn-circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.rn-circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.rn-container.show-nav + .rn-circle-container {
    transform: rotate(-90deg);
}

.rn-circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 1.8rem;
    color: white;
}

.rn-circle button:focus {
    outline: none;
}

.rn-circle button#open {
    left: 60%;
}

.rn-circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rn-container.show-nav ~ nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 2.5rem;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 2rem;
}

nav ul li {
    text-transform: uppercase;
    color: white;
    margin: 2.5rem 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 1.25rem;
    margin-right: 10px;
}

/*lis after the intial li stick out*/
nav ul li  + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

/*lis after the intial li stick out*/
nav ul li  + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.rn-content img {
    max-width: 100%;
}

.rn-content {
    max-width: 62.5rem;
    margin: 3.125rem auto;
}

.rn-content h1 {
    margin: 0;
}

.rn-content small {
    color: #555;
    font-style: italic;
}

.rn-content p {
    color: #333;
    line-height: 1.5;
}