@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Roboto', sans-serif; */

.dch-container {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.dch-h3 {
    margin-top: 5rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem;
}

.dch-small {
    display: block;
    margin-bottom: 1.25rem;
    text-align: center;
}

.dch-fa-heart {
    color: red;
}

.dch-loveMe {
    height: 27.5rem;
    width: 18.75rem;
    background: url("https://images.unsplash.com/photo-1616528832701-a277516e1a09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80") no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dch-loveMe .dch-fa-heart {
    position: absolute;
    animation: grow 0.4s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}