@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

.imgc-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.imgc-img {
    width: 31.25rem;
    height: 31.25rem;
    object-fit: cover;
}

.imgc-carousel {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 33.125rem;
    width: 31.25rem;
    overflow: hidden;
}

.imgc-image-container {
    /* this puts the images into a row so can only see one as they're same width, otherwise they're in a column and you can see the top of the next image. will move image along the x axis */
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.imgc-buttons-container {
    display: flex;
    justify-content: space-between;
}

.imgc-btn {
    background-color: seagreen;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.imgc-btn:hover {
    opacity: 0.9;
}

.imgc-btn:focus {
    outline: none;
}